configs/nodered/flows.json
[
    {
        "id": "2fe16c20.567474",
        "type": "tab",
        "label": "General",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4779e57d.bf9eac",
        "type": "tab",
        "label": "Process Logic",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d02b3e88.3ba44",
        "type": "tab",
        "label": "Photo",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4e650360.d34e4c",
        "type": "tab",
        "label": "Garden",
        "disabled": false,
        "info": ""
    },
    {
        "id": "70a3a135.8fdfd",
        "type": "tab",
        "label": "WIFI Button",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ef768b5b.b73498",
        "type": "tab",
        "label": "Shellis",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bb7a73a3.e2475",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b22f77a6.310cc8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5f15b0ad.224aa",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "5f378964.bb3a38",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "bb7a73a3.e2475",
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "dd8cf3bb.8007f",
        "type": "myStrom Config Switch",
        "z": "",
        "host": "192.168.0.248",
        "mac": "3C:71:BF:6B:F9:EC",
        "name": "Switch 1"
    },
    {
        "id": "f9226d72.51e73",
        "type": "myStrom Config Button Plus",
        "z": "",
        "host": "192.168.0.17",
        "mac": "2C:3A:E8:01:83:53",
        "name": "Buttonplus 1"
    },
    {
        "id": "56d9e465.8a289c",
        "type": "blynk-ws-client",
        "z": "",
        "name": "",
        "path": "ws://blynk-cloud.com/websockets",
        "key": "2e0QPHJesHvPEVSkT22_KLdiWK3WIpRc",
        "dbg_all": true,
        "dbg_read": false,
        "dbg_write": false,
        "dbg_notify": false,
        "dbg_mail": false,
        "dbg_prop": false,
        "dbg_sync": false,
        "dbg_bridge": false,
        "dbg_low": false,
        "dbg_pins": "",
        "multi_cmd": true,
        "proxy_type": "no",
        "proxy_url": "",
        "enabled": true
    },
    {
        "id": "d488fe3d.4aee5",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ad951b2a.f13eb8",
        "type": "switch",
        "z": "2fe16c20.567474",
        "name": "Router",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 400,
        "wires": [
            [
                "2ba65a7e.2dd3e6"
            ],
            [
                "f1c44cef.fcd9"
            ]
        ]
    },
    {
        "id": "2ba65a7e.2dd3e6",
        "type": "myStrom Switch",
        "z": "2fe16c20.567474",
        "name": "WIFI Switch ON",
        "request": "on",
        "device": "dd8cf3bb.8007f",
        "x": 1280,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "f1c44cef.fcd9",
        "type": "myStrom Switch",
        "z": "2fe16c20.567474",
        "name": "WIFI Switch OFF",
        "request": "off",
        "device": "dd8cf3bb.8007f",
        "x": 1290,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "85d739ca.d89c98",
        "type": "inject",
        "z": "2fe16c20.567474",
        "name": "Powerup",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 180,
        "y": 240,
        "wires": [
            [
                "45ef5390.939aac"
            ]
        ]
    },
    {
        "id": "45ef5390.939aac",
        "type": "function",
        "z": "2fe16c20.567474",
        "name": "Set Globals",
        "func": "global.set('switchStatus', false);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "bd323242.f8196",
        "type": "ui_toast",
        "z": "2fe16c20.567474",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Status Has changed",
        "name": "Notification",
        "x": 870,
        "y": 300,
        "wires": []
    },
    {
        "id": "240fcc24.d3aca4",
        "type": "myStrom Switch",
        "z": "2fe16c20.567474",
        "name": "Measures",
        "request": "report",
        "device": "dd8cf3bb.8007f",
        "x": 460,
        "y": 740,
        "wires": [
            [
                "ce993563.df1d68",
                "d96cc1c9.05ed2"
            ]
        ]
    },
    {
        "id": "f39a46eb.1924f8",
        "type": "inject",
        "z": "2fe16c20.567474",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 190,
        "y": 740,
        "wires": [
            [
                "240fcc24.d3aca4"
            ]
        ]
    },
    {
        "id": "ce993563.df1d68",
        "type": "function",
        "z": "2fe16c20.567474",
        "name": "Power",
        "func": "const {payload:{response}} = msg;\nconst {power} = JSON.parse(response);\nmsg.payload = power;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 700,
        "wires": [
            [
                "41b31a4d.6477a4",
                "54e4bc55.36c4a4"
            ]
        ]
    },
    {
        "id": "d96cc1c9.05ed2",
        "type": "function",
        "z": "2fe16c20.567474",
        "name": "Temp",
        "func": "const {payload:{response}} = msg;\nconst {temperature} = JSON.parse(response);\nmsg.payload = temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 780,
        "wires": [
            [
                "55263472.e0ca9c",
                "54e4bc55.36c4a4"
            ]
        ]
    },
    {
        "id": "acdd121f.561b7",
        "type": "blynk-ws-in-app",
        "z": "2fe16c20.567474",
        "name": "",
        "client": "56d9e465.8a289c",
        "x": 180,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "318f3902.97b776",
        "type": "function",
        "z": "4779e57d.bf9eac",
        "name": "Switch",
        "func": "const {payload} = msg;\nif (payload && payload.length) {\n    msg.payload = payload[0] === '1';\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 180,
        "wires": [
            [
                "1dfd0c3.ce276f4"
            ]
        ]
    },
    {
        "id": "4829b4ef.c76f1c",
        "type": "link in",
        "z": "2fe16c20.567474",
        "name": "Set Light",
        "links": [
            "791b635b.d251cc"
        ],
        "x": 135,
        "y": 420,
        "wires": [
            [
                "999214a0.de2fb"
            ]
        ]
    },
    {
        "id": "2d8fe060.65823",
        "type": "link in",
        "z": "4779e57d.bf9eac",
        "name": "Power Value",
        "links": [
            "41b31a4d.6477a4"
        ],
        "x": 135,
        "y": 560,
        "wires": [
            [
                "50b4f1c0.66664",
                "e4fd3666.7a8f98",
                "53e7136a.0b433c"
            ]
        ]
    },
    {
        "id": "41b31a4d.6477a4",
        "type": "link out",
        "z": "2fe16c20.567474",
        "name": "Set Power Value",
        "links": [
            "2d8fe060.65823"
        ],
        "x": 1215,
        "y": 700,
        "wires": []
    },
    {
        "id": "55263472.e0ca9c",
        "type": "link out",
        "z": "2fe16c20.567474",
        "name": "Set Temp Value",
        "links": [
            "8f92fb49.853c68"
        ],
        "x": 1215,
        "y": 780,
        "wires": []
    },
    {
        "id": "8f92fb49.853c68",
        "type": "link in",
        "z": "4779e57d.bf9eac",
        "name": "Temp Value",
        "links": [
            "55263472.e0ca9c"
        ],
        "x": 135,
        "y": 620,
        "wires": [
            [
                "2fe471b4.decd2e",
                "c15db751.69ad98",
                "817cf453.ba3758"
            ]
        ]
    },
    {
        "id": "34ed9e11.2c2942",
        "type": "link out",
        "z": "2fe16c20.567474",
        "name": "Change Light",
        "links": [
            "3c3c2ecf.a26802"
        ],
        "x": 815,
        "y": 480,
        "wires": []
    },
    {
        "id": "3c3c2ecf.a26802",
        "type": "link in",
        "z": "4779e57d.bf9eac",
        "name": "Set Light",
        "links": [
            "34ed9e11.2c2942",
            "66dcbf73.20be98"
        ],
        "x": 135,
        "y": 420,
        "wires": [
            [
                "c8451bd.63b98e8"
            ]
        ]
    },
    {
        "id": "2fe471b4.decd2e",
        "type": "ui_gauge",
        "z": "4779e57d.bf9eac",
        "name": "",
        "group": "5f378964.bb3a38",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Switch Temp",
        "label": "C",
        "format": "{{value | number:1}}",
        "min": "15",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 250,
        "y": 680,
        "wires": []
    },
    {
        "id": "932003e8.26689",
        "type": "rpi-gpio out",
        "z": "4e650360.d34e4c",
        "name": "",
        "pin": "16",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 960,
        "y": 380,
        "wires": []
    },
    {
        "id": "7373ec76.83bfe4",
        "type": "inject",
        "z": "4e650360.d34e4c",
        "name": "Powerup",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 200,
        "y": 120,
        "wires": [
            [
                "1100c18a.49df4e"
            ]
        ]
    },
    {
        "id": "1100c18a.49df4e",
        "type": "function",
        "z": "4e650360.d34e4c",
        "name": "Set Globals",
        "func": "global.set('pump', false);\nmsg.playload = '0';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 120,
        "wires": [
            [
                "ececf617.3a75c8"
            ]
        ]
    },
    {
        "id": "42888706.4aff08",
        "type": "rpi-gpio out",
        "z": "4e650360.d34e4c",
        "name": "",
        "pin": "18",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 960,
        "y": 500,
        "wires": []
    },
    {
        "id": "dc70acf2.e5ff4",
        "type": "rpi-gpio out",
        "z": "4e650360.d34e4c",
        "name": "",
        "pin": "11",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 960,
        "y": 640,
        "wires": []
    },
    {
        "id": "78e43532.9b1e8c",
        "type": "rpi-gpio out",
        "z": "4e650360.d34e4c",
        "name": "",
        "pin": "13",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 960,
        "y": 800,
        "wires": []
    },
    {
        "id": "f952d7cd.7f3108",
        "type": "rpi-gpio out",
        "z": "4e650360.d34e4c",
        "name": "",
        "pin": "15",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 960,
        "y": 860,
        "wires": []
    },
    {
        "id": "7e5f7064.84f41",
        "type": "cronplus",
        "z": "4e650360.d34e4c",
        "name": "Basil",
        "outputField": "payload",
        "timeZone": "",
        "options": [
            {
                "topic": "Water On",
                "payload": "0",
                "type": "num",
                "expression": "0 0 */12 * * * *"
            },
            {
                "topic": "Water Off",
                "payload": "1",
                "type": "num",
                "expression": "4 0 */12 * * * *"
            }
        ],
        "x": 170,
        "y": 380,
        "wires": [
            [
                "932003e8.26689",
                "97f116ce.a53478"
            ]
        ]
    },
    {
        "id": "af5f9e25.6949a",
        "type": "blynk-ws-in-write",
        "z": "4779e57d.bf9eac",
        "name": "",
        "pin": "11",
        "pin_all": 0,
        "client": "56d9e465.8a289c",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "318f3902.97b776"
            ]
        ]
    },
    {
        "id": "c0efa013.f45ed",
        "type": "blynk-ws-in-write",
        "z": "4e650360.d34e4c",
        "name": "",
        "pin": "12",
        "pin_all": 0,
        "client": "56d9e465.8a289c",
        "x": 220,
        "y": 280,
        "wires": [
            [
                "a3fb701.e4adc9"
            ]
        ]
    },
    {
        "id": "eb06dc37.c81ca",
        "type": "blynk-ws-out-write",
        "z": "4779e57d.bf9eac",
        "name": "",
        "pin": "11",
        "pinmode": 0,
        "client": "56d9e465.8a289c",
        "x": 900,
        "y": 420,
        "wires": []
    },
    {
        "id": "c15db751.69ad98",
        "type": "blynk-ws-out-write",
        "z": "4779e57d.bf9eac",
        "name": "",
        "pin": "2",
        "pinmode": 0,
        "client": "56d9e465.8a289c",
        "x": 900,
        "y": 620,
        "wires": []
    },
    {
        "id": "50b4f1c0.66664",
        "type": "blynk-ws-out-write",
        "z": "4779e57d.bf9eac",
        "name": "",
        "pin": "1",
        "pinmode": 0,
        "client": "56d9e465.8a289c",
        "x": 900,
        "y": 560,
        "wires": []
    },
    {
        "id": "c8451bd.63b98e8",
        "type": "function",
        "z": "4779e57d.bf9eac",
        "name": "Converter",
        "func": "if (typeof msg.payload === 'boolean') {\n    msg.payload = msg.payload ? 1 : 0;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 420,
        "wires": [
            [
                "eb06dc37.c81ca",
                "43a916ad.7d95a8"
            ]
        ]
    },
    {
        "id": "164b29a9.1c8a76",
        "type": "cronplus",
        "z": "4e650360.d34e4c",
        "name": "Orchid",
        "outputField": "payload",
        "timeZone": "",
        "options": [
            {
                "topic": "Water On",
                "payload": "0",
                "type": "num",
                "expression": "0 0 */6 * * * *"
            },
            {
                "topic": "Water Off",
                "payload": "1",
                "type": "num",
                "expression": "3 0 */6 * * * *"
            }
        ],
        "x": 170,
        "y": 500,
        "wires": [
            [
                "42888706.4aff08",
                "a955348e.5bd9b8"
            ]
        ]
    },
    {
        "id": "5a6960f9.54ffd",
        "type": "blynk-ws-out-write",
        "z": "4e650360.d34e4c",
        "name": "",
        "pin": "12",
        "pinmode": 0,
        "client": "56d9e465.8a289c",
        "x": 1280,
        "y": 280,
        "wires": []
    },
    {
        "id": "a3fb701.e4adc9",
        "type": "function",
        "z": "4e650360.d34e4c",
        "name": "Converter",
        "func": "const flag = 'pump';\nconst {payload} = msg;\nconst status = payload === '1' ? true : false;\nglobal.set(flag, status);\n\n// invert\nmsg.payload = status ? '0' : '1';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 280,
        "wires": [
            [
                "42888706.4aff08",
                "932003e8.26689",
                "dc70acf2.e5ff4",
                "ececf617.3a75c8"
            ]
        ]
    },
    {
        "id": "ececf617.3a75c8",
        "type": "function",
        "z": "4e650360.d34e4c",
        "name": "Signal Converter",
        "func": "const {payload} = msg;\nmsg.payload = payload === '1' ? '0' : '1';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 280,
        "wires": [
            [
                "5a6960f9.54ffd",
                "f577a6e7.ad0e88"
            ]
        ]
    },
    {
        "id": "97f116ce.a53478",
        "type": "blynk-ws-out-write",
        "z": "4e650360.d34e4c",
        "name": "",
        "pin": "4",
        "pinmode": 0,
        "client": "56d9e465.8a289c",
        "x": 980,
        "y": 440,
        "wires": []
    },
    {
        "id": "a955348e.5bd9b8",
        "type": "blynk-ws-out-write",
        "z": "4e650360.d34e4c",
        "name": "",
        "pin": "5",
        "pinmode": 0,
        "client": "56d9e465.8a289c",
        "x": 980,
        "y": 560,
        "wires": []
    },
    {
        "id": "96ffc6ca.72e2f",
        "type": "timeout",
        "z": "4779e57d.bf9eac",
        "name": "Sterilisation",
        "outtopic": "",
        "outsafe": "START",
        "outwarning": "HALF",
        "outunsafe": "DONE",
        "warning": "600",
        "timer": "1200",
        "repeat": false,
        "again": false,
        "x": 890,
        "y": 240,
        "wires": [
            [
                "793adb0a.889804",
                "a0d05db.306b4a",
                "1f0b4ab0.c745e5"
            ]
        ]
    },
    {
        "id": "f0dcccd9.9bc948",
        "type": "switch",
        "z": "4779e57d.bf9eac",
        "name": "Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 710,
        "y": 240,
        "wires": [
            [
                "96ffc6ca.72e2f"
            ]
        ]
    },
    {
        "id": "1bb6793d.c83117",
        "type": "function",
        "z": "4779e57d.bf9eac",
        "name": "Converter",
        "func": "msg.payload = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1220,
        "y": 240,
        "wires": [
            [
                "791b635b.d251cc"
            ]
        ]
    },
    {
        "id": "793adb0a.889804",
        "type": "switch",
        "z": "4779e57d.bf9eac",
        "name": "Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "DONE",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1070,
        "y": 240,
        "wires": [
            [
                "1bb6793d.c83117"
            ]
        ]
    },
    {
        "id": "48a486c9.e15ed",
        "type": "debug",
        "z": "4779e57d.bf9eac",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 610,
        "y": 880,
        "wires": []
    },
    {
        "id": "828de9b8.d16c48",
        "type": "inject",
        "z": "4779e57d.bf9eac",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 190,
        "y": 820,
        "wires": [
            [
                "d58d8853.7429c8"
            ]
        ]
    },
    {
        "id": "d58d8853.7429c8",
        "type": "rpi-ds18b20",
        "z": "4779e57d.bf9eac",
        "topic": "",
        "array": false,
        "name": "",
        "x": 370,
        "y": 820,
        "wires": [
            [
                "48a486c9.e15ed",
                "ac62560a.29625",
                "c4e2329b.b51db8",
                "b680978a.da1818"
            ]
        ]
    },
    {
        "id": "ac62560a.29625",
        "type": "blynk-ws-out-write",
        "z": "4779e57d.bf9eac",
        "name": "",
        "pin": "3",
        "pinmode": 0,
        "client": "56d9e465.8a289c",
        "x": 900,
        "y": 820,
        "wires": []
    },
    {
        "id": "54e4bc55.36c4a4",
        "type": "debug",
        "z": "2fe16c20.567474",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 810,
        "y": 740,
        "wires": []
    },
    {
        "id": "9d4d4804.cf78",
        "type": "blynk-ws-out-notify",
        "z": "2fe16c20.567474",
        "name": "Sterilisation",
        "client": "56d9e465.8a289c",
        "queue": false,
        "rate": 5,
        "x": 1270,
        "y": 540,
        "wires": []
    },
    {
        "id": "4af65bd2.f5dc6c",
        "type": "change",
        "z": "2fe16c20.567474",
        "name": "Notification Message",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "Started",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "Process finished!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 540,
        "wires": [
            [
                "9d4d4804.cf78"
            ]
        ]
    },
    {
        "id": "3c06fe1b.fc0792",
        "type": "e-mail",
        "z": "d02b3e88.3ba44",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "sangalli.marco@gmail.com",
        "dname": "",
        "x": 1000,
        "y": 180,
        "wires": []
    },
    {
        "id": "dab786fd.b58688",
        "type": "function",
        "z": "d02b3e88.3ba44",
        "name": "Message",
        "func": "return {\n    to: 'sangalli.marco@gmail.com',\n    topic: 'HOME',\n    payload: 'Please call me immediately!!!',\n    attachments: [{path: msg.payload, content:'picture'}]\n};\n",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 180,
        "wires": [
            [
                "3c06fe1b.fc0792"
            ]
        ]
    },
    {
        "id": "7c938134.c881f",
        "type": "camerapi-takephoto",
        "z": "d02b3e88.3ba44",
        "filemode": "2",
        "filename": "",
        "filedefpath": "1",
        "filepath": "",
        "fileformat": "jpeg",
        "resolution": "8",
        "rotation": "0",
        "fliph": "0",
        "flipv": "0",
        "brightness": "50",
        "contrast": "0",
        "sharpness": "0",
        "quality": "80",
        "imageeffect": "none",
        "exposuremode": "auto",
        "iso": "0",
        "agcwait": "1.0",
        "led": "0",
        "awb": "auto",
        "name": "",
        "x": 540,
        "y": 180,
        "wires": [
            [
                "dab786fd.b58688",
                "dda6499.b01e3b8"
            ]
        ]
    },
    {
        "id": "3f0cc8e2.652608",
        "type": "inject",
        "z": "d02b3e88.3ba44",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 200,
        "y": 80,
        "wires": [
            [
                "7c938134.c881f"
            ]
        ]
    },
    {
        "id": "dda6499.b01e3b8",
        "type": "debug",
        "z": "d02b3e88.3ba44",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 910,
        "y": 320,
        "wires": []
    },
    {
        "id": "fd89f9f1.53cee",
        "type": "myStrom Button Plus",
        "z": "70a3a135.8fdfd",
        "name": "WIFI Button",
        "request": "set",
        "device": "f9226d72.51e73",
        "urlOffset": "",
        "advanced": false,
        "singleURL": "",
        "singleData": "",
        "doubleURL": "",
        "doubleData": "",
        "longURL": "",
        "longData": "",
        "touchURL": "",
        "touchData": "",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "6496d81f.0a288"
            ],
            [],
            [
                "c6ce93c0.60b23"
            ],
            [
                "841a2719.0267b8"
            ]
        ]
    },
    {
        "id": "e36900a2.c0cf7",
        "type": "link out",
        "z": "70a3a135.8fdfd",
        "name": "Toggle",
        "links": [
            "83d76da7.9df4f",
            "b2f42fb8.dfddd"
        ],
        "x": 875,
        "y": 200,
        "wires": []
    },
    {
        "id": "841a2719.0267b8",
        "type": "link out",
        "z": "70a3a135.8fdfd",
        "name": "Touch",
        "links": [
            "74599fc5.4f80d8"
        ],
        "x": 535,
        "y": 260,
        "wires": []
    },
    {
        "id": "74599fc5.4f80d8",
        "type": "link in",
        "z": "d02b3e88.3ba44",
        "name": "",
        "links": [
            "841a2719.0267b8"
        ],
        "x": 135,
        "y": 180,
        "wires": [
            [
                "7c938134.c881f"
            ]
        ]
    },
    {
        "id": "c6ce93c0.60b23",
        "type": "function",
        "z": "70a3a135.8fdfd",
        "name": "Toggle Status",
        "func": "const flag = 'switchStatus';\nlet status = !global.get(flag);\nmsg.payload = status;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 200,
        "wires": [
            [
                "b72eafb7.9e41d",
                "e36900a2.c0cf7"
            ]
        ]
    },
    {
        "id": "e4fd3666.7a8f98",
        "type": "ui_gauge",
        "z": "4779e57d.bf9eac",
        "name": "",
        "group": "5f378964.bb3a38",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Power",
        "label": "W",
        "format": "{{value | number:1}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 230,
        "y": 500,
        "wires": []
    },
    {
        "id": "83d76da7.9df4f",
        "type": "link in",
        "z": "4779e57d.bf9eac",
        "name": "",
        "links": [
            "e36900a2.c0cf7"
        ],
        "x": 415,
        "y": 60,
        "wires": [
            [
                "1dfd0c3.ce276f4"
            ]
        ]
    },
    {
        "id": "1dfd0c3.ce276f4",
        "type": "switch",
        "z": "4779e57d.bf9eac",
        "name": "Gate",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "boolean",
                "vt": "boolean"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 180,
        "wires": [
            [
                "f0dcccd9.9bc948",
                "791b635b.d251cc",
                "a0d05db.306b4a"
            ]
        ]
    },
    {
        "id": "b72eafb7.9e41d",
        "type": "debug",
        "z": "70a3a135.8fdfd",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 930,
        "y": 140,
        "wires": []
    },
    {
        "id": "999214a0.de2fb",
        "type": "function",
        "z": "2fe16c20.567474",
        "name": "Set Status",
        "func": "const flag = 'switchStatus';\nglobal.set(flag, msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 420,
        "wires": [
            [
                "88c63a8a.02ae08"
            ]
        ]
    },
    {
        "id": "5e656bfe.6b329c",
        "type": "debug",
        "z": "2fe16c20.567474",
        "name": "Status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "88c63a8a.02ae08",
        "type": "switch",
        "z": "2fe16c20.567474",
        "name": "Gate",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "boolean",
                "vt": "boolean"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 420,
        "wires": [
            [
                "ad951b2a.f13eb8",
                "bd323242.f8196",
                "34ed9e11.2c2942",
                "4af65bd2.f5dc6c",
                "5e656bfe.6b329c"
            ]
        ]
    },
    {
        "id": "791b635b.d251cc",
        "type": "link out",
        "z": "4779e57d.bf9eac",
        "name": "Set Light",
        "links": [
            "4829b4ef.c76f1c"
        ],
        "x": 1355,
        "y": 180,
        "wires": []
    },
    {
        "id": "6496d81f.0a288",
        "type": "function",
        "z": "70a3a135.8fdfd",
        "name": "Force Stop",
        "func": "msg.payload = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 140,
        "wires": [
            [
                "7972468a.210b2"
            ]
        ]
    },
    {
        "id": "7972468a.210b2",
        "type": "link out",
        "z": "70a3a135.8fdfd",
        "name": "Set Status OFF",
        "links": [
            "b3e062a0.b696e8"
        ],
        "x": 875,
        "y": 80,
        "wires": []
    },
    {
        "id": "b3e062a0.b696e8",
        "type": "link in",
        "z": "4779e57d.bf9eac",
        "name": "",
        "links": [
            "7972468a.210b2"
        ],
        "x": 415,
        "y": 280,
        "wires": [
            [
                "1dfd0c3.ce276f4"
            ]
        ]
    },
    {
        "id": "4327260a.388a08",
        "type": "blynk-ws-out-write",
        "z": "4779e57d.bf9eac",
        "name": "",
        "pin": "20",
        "pinmode": 0,
        "client": "56d9e465.8a289c",
        "x": 1220,
        "y": 120,
        "wires": []
    },
    {
        "id": "a0d05db.306b4a",
        "type": "change",
        "z": "4779e57d.bf9eac",
        "name": "Message Map",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "START",
                "fromt": "str",
                "to": "100",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "HALF",
                "fromt": "str",
                "to": "50",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "DONE",
                "fromt": "str",
                "to": "0",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "100",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 120,
        "wires": [
            [
                "4327260a.388a08"
            ]
        ]
    },
    {
        "id": "e980d4cd.c1f328",
        "type": "inject",
        "z": "4779e57d.bf9eac",
        "name": "Force OFF",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "x": 230,
        "y": 100,
        "wires": [
            [
                "1dfd0c3.ce276f4"
            ]
        ]
    },
    {
        "id": "1f0b4ab0.c745e5",
        "type": "debug",
        "z": "4779e57d.bf9eac",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1110,
        "y": 320,
        "wires": []
    },
    {
        "id": "5dff26f.5b649d8",
        "type": "blynk-ws-in-write",
        "z": "d02b3e88.3ba44",
        "name": "",
        "pin": "13",
        "pin_all": 0,
        "client": "56d9e465.8a289c",
        "x": 200,
        "y": 360,
        "wires": [
            [
                "970a9c9.004476"
            ]
        ]
    },
    {
        "id": "76af4b31.f975a4",
        "type": "cronplus",
        "z": "4e650360.d34e4c",
        "name": "Cactus",
        "outputField": "payload",
        "timeZone": "",
        "options": [
            {
                "topic": "Water On",
                "payload": "0",
                "type": "num",
                "expression": "0 0 8 * * * *"
            },
            {
                "topic": "Water Off",
                "payload": "1",
                "type": "num",
                "expression": "12 0 8 * * *"
            }
        ],
        "x": 180,
        "y": 640,
        "wires": [
            [
                "dc70acf2.e5ff4",
                "7cca655c.83d9bc"
            ]
        ]
    },
    {
        "id": "7cca655c.83d9bc",
        "type": "blynk-ws-out-write",
        "z": "4e650360.d34e4c",
        "name": "",
        "pin": "6",
        "pinmode": 0,
        "client": "56d9e465.8a289c",
        "x": 980,
        "y": 700,
        "wires": []
    },
    {
        "id": "970a9c9.004476",
        "type": "switch",
        "z": "d02b3e88.3ba44",
        "name": "Gate",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 280,
        "wires": [
            [
                "7c938134.c881f",
                "929695cf.b32de"
            ]
        ]
    },
    {
        "id": "c4e2329b.b51db8",
        "type": "ui_gauge",
        "z": "4779e57d.bf9eac",
        "name": "",
        "group": "5f378964.bb3a38",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "RPI Temp",
        "label": "C",
        "format": "{{value | number:1}}",
        "min": "15",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 600,
        "y": 760,
        "wires": []
    },
    {
        "id": "b680978a.da1818",
        "type": "mqtt out",
        "z": "4779e57d.bf9eac",
        "name": "Temp1",
        "topic": "sensors/temp1",
        "qos": "",
        "retain": "true",
        "broker": "d488fe3d.4aee5",
        "x": 870,
        "y": 760,
        "wires": []
    },
    {
        "id": "53e7136a.0b433c",
        "type": "mqtt out",
        "z": "4779e57d.bf9eac",
        "name": "Power",
        "topic": "sensors/power",
        "qos": "",
        "retain": "true",
        "broker": "d488fe3d.4aee5",
        "x": 870,
        "y": 500,
        "wires": []
    },
    {
        "id": "817cf453.ba3758",
        "type": "mqtt out",
        "z": "4779e57d.bf9eac",
        "name": "Temp2",
        "topic": "sensors/temp2",
        "qos": "",
        "retain": "true",
        "broker": "d488fe3d.4aee5",
        "x": 870,
        "y": 680,
        "wires": []
    },
    {
        "id": "656ed2c9.1b578c",
        "type": "mqtt in",
        "z": "4e650360.d34e4c",
        "name": "Pumps",
        "topic": "actuators/pumps",
        "qos": "0",
        "datatype": "auto",
        "broker": "d488fe3d.4aee5",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "a3fb701.e4adc9"
            ]
        ]
    },
    {
        "id": "517b8a4c.0fae94",
        "type": "mqtt in",
        "z": "4779e57d.bf9eac",
        "name": "Light",
        "topic": "actuators/light",
        "qos": "0",
        "datatype": "auto",
        "broker": "d488fe3d.4aee5",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "dfaa261e.0318e8"
            ]
        ]
    },
    {
        "id": "dfaa261e.0318e8",
        "type": "function",
        "z": "4779e57d.bf9eac",
        "name": "Converter",
        "func": "msg.payload = msg.payload === '1' ? true : false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 240,
        "wires": [
            [
                "1dfd0c3.ce276f4"
            ]
        ]
    },
    {
        "id": "43a916ad.7d95a8",
        "type": "mqtt out",
        "z": "4779e57d.bf9eac",
        "name": "LightStatus",
        "topic": "sensors/light",
        "qos": "",
        "retain": "true",
        "broker": "d488fe3d.4aee5",
        "x": 890,
        "y": 360,
        "wires": []
    },
    {
        "id": "69081635.a11138",
        "type": "inject",
        "z": "ef768b5b.b73498",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 140,
        "wires": [
            [
                "b64de2a6.e7d0c"
            ]
        ]
    },
    {
        "id": "8c0a8967.6ad2d8",
        "type": "function",
        "z": "ef768b5b.b73498",
        "name": "",
        "func": "msg.payload = msg.payload > 0 ? 'on' : 'off';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 140,
        "wires": [
            [
                "4d6318ee.fb7928",
                "899e7729.702a58"
            ]
        ]
    },
    {
        "id": "b64de2a6.e7d0c",
        "type": "random",
        "z": "ef768b5b.b73498",
        "name": "",
        "low": "0",
        "high": "1",
        "inte": "true",
        "property": "payload",
        "x": 380,
        "y": 140,
        "wires": [
            [
                "8c0a8967.6ad2d8"
            ]
        ]
    },
    {
        "id": "4d6318ee.fb7928",
        "type": "debug",
        "z": "ef768b5b.b73498",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 740,
        "y": 220,
        "wires": []
    },
    {
        "id": "b19ff695.b142b8",
        "type": "mqtt in",
        "z": "ef768b5b.b73498",
        "name": "",
        "topic": "shellies/shelly1pm-8CAAB5056D9C/relay/0/power",
        "qos": "2",
        "datatype": "auto",
        "broker": "d488fe3d.4aee5",
        "x": 410,
        "y": 360,
        "wires": [
            [
                "4d6318ee.fb7928"
            ]
        ]
    },
    {
        "id": "f577a6e7.ad0e88",
        "type": "mqtt out",
        "z": "4e650360.d34e4c",
        "name": "PumpsStatus",
        "topic": "sensors/pumps",
        "qos": "",
        "retain": "true",
        "broker": "d488fe3d.4aee5",
        "x": 1280,
        "y": 200,
        "wires": []
    },
    {
        "id": "899e7729.702a58",
        "type": "mqtt out",
        "z": "ef768b5b.b73498",
        "name": "",
        "topic": "shellies/shelly1pm-8CAAB5056D9C/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "d488fe3d.4aee5",
        "x": 880,
        "y": 140,
        "wires": []
    },
    {
        "id": "630bcfd3.241d8",
        "type": "mqtt out",
        "z": "4e650360.d34e4c",
        "name": "",
        "topic": "shellies/shelly1pm-8CAAB5056D9C/relay/0/command",
        "qos": "",
        "retain": "",
        "broker": "d488fe3d.4aee5",
        "x": 1100,
        "y": 940,
        "wires": []
    },
    {
        "id": "25128.4d11eed8c",
        "type": "cronplus",
        "z": "4e650360.d34e4c",
        "name": "Lemon",
        "outputField": "payload",
        "timeZone": "",
        "options": [
            {
                "topic": "Water On",
                "payload": "on",
                "type": "str",
                "expression": "0 0 10,17 * * * *"
            },
            {
                "topic": "Water Off",
                "payload": "off",
                "type": "str",
                "expression": "8 0 10,17 * * * *"
            }
        ],
        "x": 170,
        "y": 940,
        "wires": [
            [
                "630bcfd3.241d8"
            ]
        ]
    },
    {
        "id": "6bc73a6.60e4d44",
        "type": "base64",
        "z": "d02b3e88.3ba44",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 800,
        "y": 460,
        "wires": [
            [
                "dda6499.b01e3b8",
                "6d0e504e.33757"
            ]
        ]
    },
    {
        "id": "a1496508.0dd1e8",
        "type": "mqtt out",
        "z": "d02b3e88.3ba44",
        "name": "Snapshot",
        "topic": "sensors/cam",
        "qos": "",
        "retain": "true",
        "broker": "d488fe3d.4aee5",
        "x": 1100,
        "y": 460,
        "wires": []
    },
    {
        "id": "6d364ad0.dba5ac",
        "type": "mqtt in",
        "z": "d02b3e88.3ba44",
        "name": "",
        "topic": "actuators/cam",
        "qos": "2",
        "datatype": "auto",
        "broker": "d488fe3d.4aee5",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "970a9c9.004476"
            ]
        ]
    },
    {
        "id": "929695cf.b32de",
        "type": "camerapi-takephoto",
        "z": "d02b3e88.3ba44",
        "filemode": "0",
        "filename": "",
        "filedefpath": "1",
        "filepath": "",
        "fileformat": "jpeg",
        "resolution": "2",
        "rotation": "0",
        "fliph": "0",
        "flipv": "0",
        "brightness": "50",
        "contrast": "0",
        "sharpness": "0",
        "quality": "80",
        "imageeffect": "none",
        "exposuremode": "auto",
        "iso": "0",
        "agcwait": "1.0",
        "led": "0",
        "awb": "auto",
        "name": "Photo Buffer",
        "x": 530,
        "y": 460,
        "wires": [
            [
                "6bc73a6.60e4d44"
            ]
        ]
    },
    {
        "id": "641c978b.637278",
        "type": "inject",
        "z": "d02b3e88.3ba44",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 460,
        "wires": [
            [
                "929695cf.b32de"
            ]
        ]
    },
    {
        "id": "6d0e504e.33757",
        "type": "function",
        "z": "d02b3e88.3ba44",
        "name": "converter",
        "func": "msg.payload = `data:image/jpeg;base64,${msg.payload}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 960,
        "y": 460,
        "wires": [
            [
                "a1496508.0dd1e8"
            ]
        ]
    },
    {
        "id": "c0adbe1.94a5d4",
        "type": "cronplus",
        "z": "d02b3e88.3ba44",
        "name": "Snapshot",
        "outputField": "payload",
        "timeZone": "",
        "options": [
            {
                "topic": "Take Snapshot",
                "payload": "true",
                "type": "bool",
                "expression": "0 */5 * * * *"
            }
        ],
        "x": 180,
        "y": 540,
        "wires": [
            [
                "929695cf.b32de"
            ]
        ]
    }
]